* {
  border: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
}

button:focus {
  outline: none;
}