* {
  border: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html, body, #root, .App {
  height: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
}